<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
	<a href="/">홈</a>
	<form action="/board" method="post">
        <p>글 제목</p>
        <p><input type="text" id="title" name="title" placeholder="글 제목"/></p>
        <p>글 내용</p>
        <p><textarea name="text" id="text" cols="100" rows="100"></textarea></p>
        <p><button type="submit" id ="postCreate">글작성</button></p>
    </form>
</body>
</html>