<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addpost.css">
    <title>게시물 작성</title>
</head>

<body>
    <div id="createPost">
        <form action="/board" method="POST" enctype="multipart/form-data">
            <table border="1">
                <tbody>
                    <tr>
                        <th>제목</th>
                    </tr>
                    <tr>
                        <td><input type="text" id="title" name="title" placeholder="제목을 입력하세요" autocomplete="off" required/></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                    </tr>
                    <tr>
                        <td id="postText"><textarea name="text" id="text" cols="100" rows="10" placeholder="내용을 입력하세요" required></textarea></td>
                    </tr>
                </tbody>
            </table>        
            <div id="multerBtn">
                    <input type="file" name="uploadBtn">
                <div id="collectBtn">
                    <input type="submit" id ="postCreate" value="글작성">
                    <a href="/board/page/1"><input type="button" value="닫기"></a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>