<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addword.css">
    <script src="/js/addword.js" defer></script>
    <title>단어 추가</title>
</head>
<body>
    <div id="title">
        <h1>단어 추가</h1>
    </div>
    <div id="main">
        <div id="addWord">
            <div id="spellingPosition">
                <label>단어</label>
                <label>:</label>
                <input type="text" name="spelling" id="spelling" autocomplete="off">
            </div>
            <div id="meaningPosition">
                <label id=mean>뜻</label>
                <label id="colon">:</label>
                <input type="text" name="meaning" id="meaning" autocomplete="off">
            </div>
        </div>
        <div id="category">
            <label>단어 카테고리</label>
            <select name="" id="categoryMenu">
                <option value="none"selected>------</option>
                <%for(let i =0; i< category.length; i++){%>
                    <option value="<%=category[i].dataValues.id%>"><%=category[i].dataValues.category%></option>
                <%}%>
            </select>
        </div>
        <div id="collectBtn">
            <input type ="button" value= "저장" id="Btn">
            <a href="/myword/page/1"><input type="button" value="취소"></a>
        </div>
    </div>
</body>
</html>