<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>단어 추가</title>
</head>
<body>
    <a href="/">홈</a>
    <form action="/myword" method="POST">
        <p>단어 : <input type="text" name="spelling"></p>
        <p>뜻  : <input type="text" name="meaning"></p>
        <p><button type ="submit">저장하기</button><p>
    </form>
</body>
</html>