<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="/js/login.js" defer></script>
    <title>로그인 페이지</title>
</head>
<body>
    <a href="/">홈</a>
	<div class="logout">
		<input type="hidden">
	</div>
    <div class="login">
		<div class="form">
			<input type="text" id = "loginId" placeholder="아이디"/>
			<input type="password" id = "loginPassword" placeholder="비밀번호"/>
			<button type="submit" id = "loginButton">로그인</button>
			<p class="message"> <a href="/signup">회원가입</a></p>
		</div>
	</div>
	  <!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)</body> -->

</html>
