<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 단어장</title>
</head>
<body>
    <a href="/">홈</a>

    <div class="wordTable">
        <table border="1">
            <thead>
                <tr>
                    <th>단어</th>
                    <th>뜻</th>
                </tr>
            </thead>
            <tbody>
                <% words.forEach(function(i){ %>                 
                    <tr>
                        <td><a href="/myword/<%= i.dataValues.id %>"><%= i.dataValues.spelling %></a></td>
                        <td><%= i.dataValues.meaning %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/addword"><input type="button" value="추가"></a>
    </div>
</body>
</html>