<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/repeat.css">
    <script src="/js/repeat.js" defer></script>
    <title>복습하기</title>
</head>
<body>
    <div id="title">
        <label>복습은 꾸준히!!</label>
    </div>
    <div class="wordTable">
        <table border="1">
            <thead>
                <tr>
                    <th id="number">번호</th>
                    <th id="spell">단어</th>
                    <th id="mean">뜻</th>
                    <th id=confirm>O/X</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i = 0; i < words.length; i++){%>
                    <%if(parseInt(i/10) % 2 === 0){%>
                        <tr>
                            <td class= "numbers"><%=i+1%></td>
                            <td class="spelling"><%=words[i].spelling%></td>
                            <td class= "meanBoxSquare"><input type="text" class="meanBox" autocomplete="off"></td>
                            <td class= "confirmBtnSquare"><input type="button" value="확인" class="confirmBtn"></td>
                        </tr>
                    <%}else{%>
                        <tr>
                            <td class= "numbers"><%=i+1%></td>
                            <td class="spellBoxSquare"><input type="text" class="spellBox" autocomplete="off"></td>
                            <td class= "meaning"><%=words[i].meaning%></td>
                            <td class= "confirmBtnSquare2"><input type="button" value="확인" class="confirmBtn2"></td>
                        </tr>
                    <%}%>

                <%}%>
            </tbody>
        </table>
    </div>
    <div id="collectBtn">
        <a href="/repeat"><input type="submit" value="다시하기" id="restart"></a>
        <a href="/"><input type="button" value="취소하기"></a>
    </div>
</body>
</html>