<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>회원가입</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="stylesheet" href="css/signup.css">
<script src="/js/signup.js" defer></script>
<!-- <script src="signup.js" defer></script> -->
</head>
<body>
	<div class="login-page">
		<div class="form">
		  <form class="register-form">
			<input type="text" id = "createName" placeholder="사용자 이름"/>
			<input type="text" id = "createId" placeholder="ID"/>
			<input type="password" id = "createPassword" placeholder="비밀번호"/>
			<input type="password" id = "confirmPassword" placeholder="비밀번호 확인"/>
			<button type = "submit" id = "signupButton">회원가입</button>
			<p class="message"><a href="/login">로그인</a></p>
		  </form>
		</div>
	  </div>
</body>
</html>