:root{
    --text-color: #eee1e1;
    --background-color: #0b0930;
    --highlight-color: #d49466;
    --logo-color: #ac9695;
    --main-background-color: #ebd1d1;
    --section-color: gainsboro;
    --body-color:rgb(173, 201, 173);
    --parentHeight : 10%;
}
body, html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background-color: var(--body-color);
}
.navbar a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar{
    height: 8%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: center;
    padding: 8px 12px;
}
.navbar_logo{
    color: var(--text-color);
    font-size: 30px;
}
.navbar_logo i{
    color: var(--logo-color);
}
.navbar_menu{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    color: var(--text-color);
}
.navbar_menu li{
    list-style: none;
    padding: 8px 12px;
    font-size: 20px;
}
.navbar_menu li:hover{
    background-color: grey;
    border-radius: 4px;
}
.navbar_link, .navbar_logout {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
}
.navbar_link li{
    padding: 8px 12px;
}

.navbar_toggleBtn{
    position: absolute;
    right: 20px;
    display: none;
    font-size: 24px;
}
#title{
    text-align: center;
    font-size: 3rem;
    padding: 5% 0 5% 0;
}
#title >a{
    text-decoration: none;
    color: black;
}
#title >a:hover{
    color: blue;
}
.board, #collectBtn, #countingPage, #search{
    margin: 0 10% 0 10%;
}
.board{
    background-color: var(--main-background-color);
    padding: 1% 3% 1% 3%;
}
.board > table{
    text-align: center;
    font-size: 1.5rem;
}
#number{
    width: 10%;
}
#postTitle{
    width: 40%;
}
#postAuthor{
    width: 25%;
}
#postDate{
    width: 25%;
}
td>a{
    text-decoration: none;
    color: black;
}
td>a:hover{
    color: blue;
}

#collectBtn{
    margin-top: 5%;
    text-align: center;
}
#collectBtn>a>input{
    font-size: 2rem;
}
table{
    width: 100%;
}
#countingPage{
    text-align: center;
    padding: 2% 0 2% 0;
}
#countingPage >span>a{
    text-decoration: none;
    color: black;
}
#countingPage >span>a:hover{
    color: blue;
}
#countingPage>span{
    font-size: 1.5rem;

}
#search{
    text-align: center;
    padding-bottom: 3%;
}
#search input, #search select{
    font-size: 1.5rem;
}