:root{
    --text-color: #eee1e1;
    --background-color: #0b0930;
    --highlight-color: #d49466;
    --logo-color: #ac9695;
    --main-background-color: #ebd1d1;
    --section-color: gainsboro;
    --body-color:rgb(173, 201, 173);
}
html, body{
    width: 100%;
}
body{
    background-color: var(--body-color);
    margin: 0;
}
#title{
    text-align: center;
    margin-top: 5%;
    font-size: 2.5rem;
}
#title >h1{
    margin: 0;
}
#main{
    margin: 5%;
    padding: 5%;
    text-align: center;
    background-color: var(--main-background-color);

}
#addWord{
    font-size: 4rem;
}
#spellingPosition{
    margin-bottom: 30px;
}
#spelling{
    font-size: 4rem;
}
#meaningPosition{
    margin-bottom: 30px;

}
#mean{
    margin-left: 30px;
}
#colon{
    margin-left: 34px;
}
#meaning{
    font-size: 4rem;
}
#category{

    font-size: 2.5rem;
    margin-bottom: 40px;
}
#category >select{
    font-size: 2.5rem;
}

#collectBtn input{
    width: 40%;
    font-size: 2rem;
}
#modifyBtn{
    margin-right: 60px;
}