:root{
    --text-color: #eee1e1;
    --background-color: #0b0930;
    --highlight-color: #d49466;
    --logo-color: #ac9695;
    --main-background-color: #ebd1d1;
    --section-color: gainsboro;
    --body-color:rgb(173, 201, 173);
    --parentHeight : 10%;
}
html{
    width: 100%;
    height: 100%;
}
body{
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--body-color);
}
.navbar a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar{
    height: 8%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: center;
    padding: 0 1% 0 1%;
}
.navbar_logo{
    color: var(--text-color);
    font-size: 30px;
}
.navbar_logo i{
    color: var(--logo-color);
}
.navbar_menu{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    color: var(--text-color);
}
.navbar_menu li{
    list-style: none;
    padding: 8px 12px;
    font-size: 20px;
}
.navbar_menu li:hover{
    background-color: grey;
    border-radius: 4px;
}
.navbar_logout {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
}
.navbar_link li{
    padding: 8px 12px;
}

.navbar_toggleBtn{
    position: absolute;
    right: 20px;
    display: none;
    font-size: 24px;
}
#mainPage{
    height: 82%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#mainPage div{
    width: 50%;
    height: 100%;
}
.wordTable{
    border-bottom: 1px solid gray;
}
.wordTable>table{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
#tableNumber{
    width: 15%;
    height: 10%;
}
#tableSpelling{
    width: 42.5%;
    height: 10%;
}

#tableMeaning{
    width: 42.5%;
    height: 10%;
}
.number{
    width: 10%;
}
.spelling{
    width: 45%;
}
.spelling >a{
    text-decoration: none;
    color: black;
}
.spelling >a:hover{
    color: blue;
}
.meaning{
    width: 45%;
}
#memoPosition{
    width: 50%;
    height: 100%;
}
#memo{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 3rem;
    border: 0;
    margin: 0;
    padding: 0;
}
footer{
    height: 10%;
    margin: 0;
    padding: 0;
    display: block;
}
#addBtn{
    width: 50%;
    text-align: center;
}

#addBtn a>input{
    font-size: 1rem;
}
#countingPage{
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
}
#firstPage, #lastPage{
    font-size: 1.25rem;
}
#search{
    text-align: center;
}
#leftBtnSpace a, #countingPageNumber a, #rightBtnSpace a, #firstPage a, #lastPage a{
    text-decoration: none;
    color: black;
}
#countingPage a:hover{
    color: blue;
}
@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px; 
    }
    .navbar_logo{
        font-size: 20px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_link, .navbar_logout{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .navbar_logout.active,
    .navbar_menu.active,
    .navbar_link.active{
        display: flex;
    }
    .main_page{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
}
