:root{
    --text-color: #eee1e1;
    --background-color: #0b0930;
    --highlight-color: #d49466;
    --logo-color: #ac9695;
    --main-background-color: #ebd1d1;
    --section-color: gainsboro;
    --body-color:rgb(173, 201, 173);
}
body{
    margin: 0;
    background-color:var(--body-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: center;
    padding: 8px 12px;
}
.navbar_logo{
    color: var(--text-color);
    font-size: 30px;
}
.navbar_logo i{
    color: var(--logo-color);
}
.navbar_menu{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    color: var(--text-color);
}
.navbar_menu li{
    list-style: none;
    padding: 8px 12px;
    font-size: 20px;
}
.navbar_menu li:hover{
    background-color: grey;
    border-radius: 4px;
}
.navbar_link, .navbar_logout {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
}
.navbar_link li{
    padding: 8px 12px;
}

.navbar_toggleBtn{
    position: absolute;
    right: 20px;
    display: none;
    font-size: 24px;
}

.main_page{ 
    background-color: var(--section-color);
    margin-left: 20rem;
    margin-right: 20rem;
}
.translate{
    min-width: 30rem;
    height: 20rem;
    display: block;
    background-color: var(--main-background-color);
    border: 0.5px solid black;
    border-bottom: 0px;
}
.todayandboard{
    min-width: 30rem;
    height: 35rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-background-color);
    border: 1px solid black;
    border-bottom: 0;
}
.board{
    list-style: none;
    border: 1px solid black;
    padding: 1.5rem;
    margin: 0;
    width: 60rem;
}
.board li{
    padding: 5px
}
.board li>a{
    color: black;
}
.todayEng{
    width: 30rem;
    padding: 1.5rem;
    border: 1px solid black;
}
footer{
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
}



@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px; 
    }
    .navbar_logo{
        font-size: 20px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_link{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_link.active{
        display: flex;
    }
    .main_page{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
}
