:root{
    --text-color: #eee1e1;
    --background-color: #0b0930;
    --highlight-color: #d49466;
    --logo-color: #ac9695;
    --main-background-color: #ebd1d1;
    --section-color: gainsboro;
    --body-color:rgb(173, 201, 173);
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:var(--body-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar{
    height: 8%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: center;
    padding: 8px 12px;
}
.navbar_logo{
    color: var(--text-color);
    font-size: 30px;
}
.navbar_logo i{
    color: var(--logo-color);
}
.navbar_menu{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    color: var(--text-color);
}
.navbar_menu li{
    list-style: none;
    padding: 8px 12px;
    font-size: 20px;
}
.navbar_menu li:hover{
    background-color: grey;
    border-radius: 4px;
}
.navbar_link, .navbar_logout {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
}
#nick{
    margin-right: 5px;
}
.navbar_logout>li>a>i{
    font-size: 8px;
    margin-right: 10px;
    cursor: pointer;
}
.navbar_link li{
    padding: 8px 12px;
}

.navbar_toggleBtn{
    position: absolute;
    right: 20px;
    display: none;
    font-size: 24px;
}

.main_page{
    height: 92%; 
    background-color: var(--section-color);
    margin-left: 15%;
    margin-right: 15%;
}
.translate{
    height: 35%;
    width: 100%;
}
.translate h1{
    height: 10%;
    margin: 0;
    padding: 1% 0 1% 3%;
}
.translate div{
    height: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 10% 0 10%;
}
#toTranslateText{
    width: 40%;
    font-size: 1.5rem;
}
#translatedText{
    width: 40%;
    font-size: 1.5rem;
}
.btn{
    width: 20%;
    flex-direction: column;
    margin-top: 5%;
}
#translateBtn{
    font-size: 1.5rem;
}
#langSelect{
    font-size: 1.5rem;
}
.todayandboard{
    height: 65%;
    display: flex;
    justify-content: space-between;
    background-color: var(--section-color);
}
.main_board{
    list-style: none;
    padding: 1.5rem;
    width: 70%;
    display: block;
    border-top: 1px solid gray;

}
.main_board h2{
    text-align: center;
}
.main_board div{
    text-align: right;
    margin-bottom: 1rem;
}
.main_board table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}
.main_board a{
    color: black;
}
.main_board li{
    padding: 5px
}
.main_board li>a{
    color: black;
}
.todayEng{
    width: 30%;
    padding: 1.5rem;
    border-top: 1px solid gray;
    border-left: 0.5px solid gray;
}
.todayEng h3{
    text-align: center;
}
.todayEng table{
    text-align: center;
    margin: 0 auto 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
}
#postId{
    width: 10%;
}
#postTitle{
    width: 70%;
}
#postAuthor{
    width: 20%;
}
.count{
    width: 10%;
}
.title{
    width: 70%;
}
.author{
    width: 20%;
}
#wordSpelling{
    width: 60%;
}
#wordMeaning{
    width: 40%
}
#spelling{
    width: 60%;
}
#meaning{
    width: 40%;
}
footer{
    height: 2%;
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
}



